@page
@model AboutModel
@{
        ViewData["Title"] = "About";
}
<div class="text-center">
    <form method="post" asp-page-handler="something">
        <button  class="pad-r navbar-brand space-low dark-edge" data-bs-toggle="tooltip" title="Return to home page">
            <i class="space-low fa-solid fa-triangle-exclamation"></i>Error Test
        </button>        
    </form> 
</div>