html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background:  #202020;
  color: #c0c0c0;
}

.space-mid {
   margin: 8px;
   padding: 8px;
}

.space-low {
  margin: 4px;
  padding: 4px;
 
}
.pad-r {
  padding-inline-end: 12px;
}
.dark-edge {
  background-color: #303030;
  color:#acacac;
}
.dark-mid {
  background-color: #111111;
  color:#c9c9c9;
}
.navitem {
  display: inline-block;
  height: 42px;
  text-align: left;
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
}
.no-pad {
  padding: 0;
  margin: 0;
}
.work-area {
  width: 95%;
  margin: 3px;
  padding: 6 px;
}
.range {
  color: #736f6f;
  display: block;
}
.turned {
  display: inline-block;
  transform: rotate(270deg);
  margin-right: 3-px;
}
.unturned {
  display: inline-block;
  transform: rotate(90deg);
}
.for-turned-range {
  min-height: 300px;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.tight-above {
  margin-top: 0;
}
.tight-above {
  margin-bottom: 0;
}
.rule {
  border-top: 3px;
  border-bottom: 3px;
  margin-bottom: 10px;
}