<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emulator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/chartjs/Chart.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Emulator.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.4.0-web/css/all.css" />
</head>
<body class="dark-mid">
    <!-- static page header -->
    <header class="dark-edge">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <!-- Retun to landing page - not button -->
            <a class="navbar-brand dark-edge" data-bs-toggle="tooltip" title="Welcome to  the emulator" asp-area="" asp-page="/Index"> 
                <i class="space-mid fa-solid fa-mug-saucer"></i>Emulator</a>
            <!-- Page launch buttons -->
            <!-- Monitor -->
            <button  class="pad-r navbar-brand space-low dark-mid" onclick="location='/Monitor';return false;" data-bs-toggle="tooltip" title="Go to Monitor page">
                  <i class="space-low fa-solid fa-chart-line"></i>Monitor</button>  
            <!-- Settings -->
            <button  class="pad-r navbar-brand space-low dark-mid" onclick="location='/Settings';return false;" data-bs-toggle="tooltip" title="Go to Settings page">
                  <i class="space-low fa-solid fa-cogs"></i>Settings</button>  
            <!-- About -->
            <button  class="pad-r navbar-brand space-low dark-mid" onclick="location='/About';return false;" data-bs-toggle="tooltip" title="Go to information page">
                  <i class="space-low fa-solid fa-info-circle"></i>About</button>  
        </nav>
    </header>
    </div>
    <!-- static page payload -->
    <div class="dark-mid container">
        <main role="main" class="dark-mid pb-3">
            <!-- This is the child page host area -->
            @RenderBody()
        </main>
    </div>
    <!-- Static footer -->
    <footer class="dark-edge border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Diner Emulator
       </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/chartjs/Chart.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>
</html>